.home-actions {
    display: flex;
    height: 70px;
    margin-top: 150px;
  }
  
  .home-btn {
    background-color: var(--color-coral);
    border-radius: 10px 0px 0px 10px;
    color: var(--color-black);
    font-weight: bold;
    font-size: 24px;
    padding: 20px 45px;
  }
  
  .home-btn:hover {
    background-color: var(--color-teste);
    color: var(--color-white);
  }
  
  .home-btn-icon {
    border-radius: 0px 10px 10px 0px;
    width: 70px;
    background-color: var(--color-coral);
    display: flex;
    align-items: center;
    justify-content: center;
  }